*{
    margin: 0;
    padding: 0;
}
.clr{
    clear:both;
}
.container {
    margin: 0 50px;
    text-align: center;
  
}
p{
    font-family: Alegreya Sans,sans-serif,monospace;
    line-height: 1.86em;
   
    color: #686868;
}

#home{
    background-image: url(../images/drew-coffman-1872.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
/* start navbar */


.logo1{
   
   float:left;
   width:150px;
   margin: 20px 50px;

}

.logo1 a img {
    width: 100%;
}
.minu{
   
    width: 50%;
    float:right;
}
.minu ul {
    margin-left: 50px;
    padding-left: 50px;
}
.minu ul li {
    float:left;
    list-style: none;
    text-decoration: none;
    padding: 30px 15px;
   

}
.minu ul li a {
    text-decoration: none;
    color: white;
}
.minu ul .border-top{
    border-top: #8f7854 solid 2px;
}
/* end navbar */
/* start content home */
.content-home {
    text-align: center;
    margin-top:50px;
}
.content-home p {
    color: #ccc;
    font-size: 24px;
    padding-bottom: 40px;
}
.content-home h1 {
    color: white;
    padding-bottom:30px;
    font-size: 70px;
}
.btn {
margin-bottom: 50px;
padding-bottom: 15px;
}
.btn .btn1 {
    background-color:#8e7754;
    color: white;
    padding: 15px 20px;
    border: none;
    font-size: 17px;
    border-radius:5px ;
    font-family: Alegreya Sans,sans-serif,monospace;
    margin-right: 10px;
}
.btn .btn2 {
    background-color:transparent;
    padding: 15px 20px;
    border: solid 2px white;
    color: #fff;
    border-radius:5px ;
    margin-bottom: 50px;
}
.tach{
    text-align: center;
    margin-bottom:50px ;
   width: 30px;
   height: 50px;
   border:solid 2px white;
   border-radius: 23px;
   margin: auto;
   text-align: center;
   font-size:40px;
   
   color: #fff;
  
  text-decoration: none;
}
.tach div {
    width: 5px;
    height: 10px;
    background-color:white;
    margin: auto;
    margin-top: 25px;
    border-radius: 20px;
}
/* end content home */
/* start about */
#about{
    margin-top: 50px; 
   margin-bottom: 50px;
}
.img
{
   
width: 45%;
float: left;

}
.content-about{
  
    width: 55%;
    float: right;
    text-align: center;
    margin-top: 50px ;
    
    
    
}
.img img{
    width: 90%;
}
.content-about h2 {
    margin-bottom: 25px ;
    color: #303030;
   
}
.content-about .text1 p {
    font-family: Alegreya Sans,sans-serif,monospace;
    line-height: 1.86em;
   
    color: #686868;
   
}
.text1 {
    padding: 10px;
    
    margin-bottom: 40px;
}
.text {
    text-align: left;
 
    
}
.content-about ul li {
    list-style: none;
    color: #686868;
    padding: 10px;
    
    margin-bottom: 10px;
}
.content-about ul li i {
    float: left;
    border: 0.5px solid #929292;
    border-radius: 50%;
    padding: 10px;
    color: #8e7754;
    margin-right: 5px;

}
/* end about */
/* start Our offer */
#Our-offer{
    background-color: #f8f8f8;
}
.hafe-content{
    
    width: 50%;
    float: left;
    text-align: center;
    margin: 50px 0 ;
    line-height: 1.86em;
    font-family: Alegreya Sans,sans-serif,monospace;
    padding-top: 50px;
   


}
.hafe-content p {
    margin-top: 25px;
    padding: 0  20px;
    color: #686868;
}
.hafe{
   
    width: 50%;
    float: right;
    text-align: right;
    margin: 50px 0;
}
.hafe img {
    width: 90%;
}
/* end Our offer */
/* start Gallery */
.Gallery{
    margin-bottom: 50px;

}
.collection .box{
    float: left;
    width:30%;
    text-align: center;
    margin: 20px;
    
}
.collection .box img{
    width: 100%;
    
}
.text3 h2{
    margin-bottom: 30px;
}
.text3{
    margin-top: 30px;
}
.collection .box h4 {
    margin: 15px 0;
}
/* end Gallery */
/* start blog */
#Blog{
    background-color: #f8f8f8;
}
.hafe-content ul li {
    list-style: none;
    color: #686868;
    
    
    
}
.hafe-content ul li i {
    float: left;
    border: 0.5px solid #929292;
    border-radius: 50%;
    padding: 10px;
    color: #ffffff;
    margin-right: 5px;
    background-color: #8e7754;

}
.detials{
    text-align: left;
   
    margin:25px ;
}
iframe {
    width: 75%;
    margin: 15px 50px 15px 0;
}
/* end blog */
/* start top footer */
#Contact{
    background-color:#303030;
   
}
.top-footer{
    padding-top: 20px;
    background-color: #403d38;
}
.col{
   
    width:23.5%;
    float:left;
    text-align: left;
    margin-right: 10px;
}
.content-col p {
    margin-top: 20px;
    font-size:18px;
}
.col h4{
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 300;
}
.col ul li {
    border-bottom: 1px solid #303030;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    list-style: none;
    color: #969696;
    font-size: 23px;
    
}
.col ul li i {
    transform: rotate(90deg);
    padding: 5px;
    float: left;
    margin-left: 30px;

}
.col ul li a {
    
    text-decoration: none;
    color:#969696;
    margin-left: 10px;

}
.col ul li span i {
    transform: none;
    padding: 5px;
    
   
    margin-right: 20px;
  
}
.col ul li  a {
    width: 75%;
    
    float: right;
    
}
.col ul li span{
    width: 15%;
    float: left;
}
/* end  top footer */
.down-footer{
    background: #353330;
}
.down-footer .container img {
    width: 20%;
    padding: 50px 0 20px;
    margin: auto;
}
.down-footer .container div {
    font-size: 14px;
    color: #969696;
}
.down-footer .container ul li {
    list-style: none;
    background: #484540;
    color: #8c8a86;
    padding: 10px;
    height: 20px;
    width:20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin: 30px 5px 30px 0;
    display: inline-block;
    
}
   
.down-footer .container ul li i{
    color: #fff;
}

